.navbar, .btn-primary {
    background-color: #ffffff !important; /* Color del footer */
    border-color: #343a40 !important;
    color: black;
}

.logo {
    max-height: 60px;
}
.navbar-nav .nav-link {
    color: black;
}
.curve-divider {
    background: url('imagenes/curve-background.jpg') no-repeat center center;
    background-size: cover;
    height: 100px;
}
body {
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(https://static.vecteezy.com/system/resources/previews/012/705/641/non_2x/cartoon-mountain-landscape-with-blue-sky-sun-and-clouds-green-field-meadows-grassland-2d-cartoon-scene-hills-look-like-piramid-free-vector.jpg);
}
.objetivos {
    color: #ffffff;
    background-color: #427540;
}
.problematica{
    background-color: #427540;
}
.justificacion{
    color: #ffffff;
    background-color: #427540;
    text-align: center;
}

.entidad-relacion{
    background-color: #427540;
    text-align: center;
}